@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    background: #333;
    color: #bbb;
}

#output {
    padding: 8px 16px;
    text-align: center;
}

.title {
    color: #00dd63;
}

a {
    color: #00dd63;
    text-decoration: none;
}

a:hover {
    color: #00ff71;
    text-decoration: underline;
}

hr {
    border-color: #666;
}

textarea {
    background-color: #222;
    color: #ddd;
    width: calc( 100% - 20px );
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #666;
    padding: 8px;
}

input, select {
    background: #222;
    color: #00dd63;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    border: 1px solid #666;
    padding: 2px;
    margin: 1px;
}

#vmOutputDiv {
    background-color: #222;
    color: #00ee00;
    padding: 2px;
    margin: 4px;
    border-radius: 6px;
    min-height: 120px;
    text-shadow: 2px 2px #333;
}

.vmOutputDivInfo {
    background-color: #3d3d36;
    color: #deee00 !important;
}

.vmOutputDivError {
    background-color: #3d3636;
    color: #ff0000 !important;
}


